{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Lavaderos Online{% endblock %}</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="{% static 'lavaderos/css/basic.css' %}" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/1b3a277cca.js" crossorigin="anonymous"></script>
  {% block header %}{% endblock %}
  <!--ICONOS-->
  <script src="https://kit.fontawesome.com/1b3a277cca.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page">
        <div class="navbar">
            <div class="leftnavbar">
                <i class="iconnavbar fa-solid fa-bars"></i>

            </div>
            <div class="centernavbar">
                <i class="iconlogo fa-solid fa-car-on"></i>
                <div class="textologo">
                    <span>LAVADERO</span>
                    <span>ONLINE</span>
                </div>
            </div>
            <div class="rightnavbar">
                <i class="iconnavbar fa-solid fa-bell"></i>
                <i class="iconnavbar fa-solid fa-user"></i>
            </div>
        </div>
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/lavaderos/">LAVADEROS</a>
                </li>
                {% if user.is_authenticated %}                  
                <li class="nav-item">
                <a class="nav-link" href="/perfillavadero/{{user.id}}">MI LAVADERO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrolavadero/">REGISTAR LAVADERO</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
        <div class="contentcenter">
            <div class="content">
                {% block contentmain %}               
                <div class="topcontent">
                    <div class="searchhome">
                        <form  method="GET">
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                Lavaderos
                            </div>
                            <select class="form-select" name="estado">
                                <option value="T">TODOS</option>
                                {% if estadoselect == "A" %}
                                <option selected value="A">ACTIVO</option>
                                {% else %}
                                <option value="A">ABIERTO</option>
                                {% endif %}
                                {% if estadoselect == "C" %}
                                <option selected value="C">CERRADO</option>
                                {% else %}
                                <option value="C">CERRADO</option>
                                {% endif %}
                            <input class="filtroboton" type="submit" value="Filtrar" />
                        </div>
                        </form>
                    </div>
                </div>
                <div class="maincontent">
                    {% for lavadero in lavaderolist %}
                    <div class="cardhome">
                        <div class="namelav">{{lavadero.nombre}}</div>
                        <div class="bottomcard">
                            {% if lavadero.imagen %}
                            <img class="imglavhome" src="{{ lavadero.imagen.url }}" alt="">
                            {% else %}
                            <img class="imglavhome" src="/media/images/default.jpg" alt="">
                            {% endif %}
                        </div>
                        <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Dirección</label>
                                <input class="inputitem" value="{{lavadero.direccion}}">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="{{lavadero.telefono}}">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Estado</label>
                                <input class="inputitem" value="{{lavadero.get_estado_display}}">
                            </div>
                        </div>
                        <div class="bottomcard">
                            <a href="/perfillavadero/{{lavadero.id}}"><button class="btn btn-primaryy">Mas Info</button></a> 
                        </div>
                        
                    </div> 
                    {% endfor %}               
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>


<!--<div class="input-group mb-3">
    <div class="input-group-text">
        Lavaderos
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox">
    <div class="input-group-text">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>-->