{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Lavaderos Online{% endblock %}</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="{% static 'lavaderos/css/basic.css' %}" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/1b3a277cca.js" crossorigin="anonymous"></script>
  {% block header %}{% endblock %}
  <!--ICONOS-->
  <script src="https://kit.fontawesome.com/1b3a277cca.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page">
        <div class="navbar">
            <div class="leftnavbar">
                <i class="iconnavbar fa-solid fa-bars"></i>

            </div>
            <div class="centernavbar">
                <i class="iconlogo fa-solid fa-car-on"></i>
                <div class="textologo">
                    <span>LAVADERO</span>
                    <span>ONLINE</span>
                </div>
            </div>
            <div class="rightnavbar">
                <i class="iconnavbar fa-solid fa-bell"></i>
                <i class="iconnavbar fa-solid fa-user"></i>
            </div>
        </div>
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/lavaderos/">LAVADEROS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/perfillavadero/">MI LAVADERO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrolavadero/">REGISTAR LAVADERO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/cuentas/login/">LOG OUT</a>
                </li>
                
            </ul>
        </div>
        <div class="contentcenter">
            <div class="content">
                {% block contentmain %}
                <div class="topcontent">
                    <div class="searchhome">
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                Lavaderos
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="maincontent">
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <label class="namelav">LAVADERO #1</label>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                    
                    <div class="cardhome">
                        <div class="namelav">LAVADERO #1</div>
                        <img class="imglavhome" src="https://st.depositphotos.com/1203257/4886/i/450/depositphotos_48867585-stock-photo-summer-car-washing.jpg" alt="">
                        <div class="detaillav">
                            <div class="detaillav">  
                            <div class="itempers">
                                <label class="labelitem">Ubicación</label>
                                <input class="inputitem" value="Cerdan 1755 - Guemes">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Tarifa</label>
                                <input class="inputitem" value="Ver Info">
                            </div>
                            <div class="itempers">
                                <label class="labelitem">Contacto</label>
                                <input class="inputitem" value="+54-3492-314707">
                            </div>
                        </div>
                        </div>
                        <button class="btn btn-primaryy">Mas Info</button> 
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>


