
{% extends "basic.html" %}

{% block title %}Inicio{% endblock %}

{% block contentmain %}
    {% if user.is_authenticated %}  
        ¡Bienvenido {{ user.username }}!
        <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
        <br>
        <div>
            <p>En este sitio vas a encontrar los lavaderos con disponibilidad de Rafaela!</p>
            <p>Ver perfil</p>
            <a href="{% url 'perfil' %}"><button>Mi Perfil</button></a>
        </div>
    {% else %}
        <h1>Inicio</h1>
        <br>
        <p>No iniciaste sesión</p>
        <a href="{% url 'login' %}">Ingresar</a>
        <br>
        <div>
            <p>En este sitio vas a encontrar los lavaderos con disponibilidad de Rafaela!</p>
            <p>Ver perfil</p>
            <a href="{% url 'perfil' %}"><button>Mi Perfil</button></a>
        </div>
{% endif %}
{% endblock %}