{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'lavaderos/css/base.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/1b3a277cca.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>Lavadero-Online</title>
</head>
<body>
    <div class="fondolanding">
        <img class="fotolanding" src="/media/images/default.jpg" alt="">
    </div>
    <div class="landingpage">
        {% block content %}

        {% if user.is_authenticated %}  
            ¡Bienvenido {{ user.username }}!
            <p><a href="{% url 'logout' %}">Cerrar sesión</a></p><br>
            <a href="{% url 'lavaderos' %}"> <button>SITIO</button> </a>

        {% else %}
            <div class="logolandingpage">
                <i class="iconlogo fa-solid fa-car-on"></i>
                <div class="textologo">
                    <span>LAVADERO</span>
                    <span>ONLINE</span>
                </div>
            </div>
            <div class="contenidolanding">
                <div class="contenidolandinpage">
                    <h3>¿BUSCÁS UN LAVADERO?</h3>
                    Encontrá los Lavaderos disponibles de la ciudad de Rafaela en nuestro sitio.<br>
                    A tu gusto y disposición de forma rápida y fácil.<br><br>
                    <a href="{% url 'lavaderos' %}"> <button>LAVADEROS</button> </a>
                </div>
                <div class="contenidolandinpage">
                    <h3>¿TENÉS UN LAVADERO DE AUTOS?</h3>
                    <h3>¿QUERÉS GUARDAR TUS LAVADEROS FAVORITOS?</h3>
                    Publicá de manera sencilla tu Lavadero y hacete conocer en toda la Ciudad.<br>
                    Guardá tus lavaderos favoritos para tenerlos siempre a mano. <br><br>
                    <a href="{% url 'register' %}"> <button>REGISTRARSE</button> </a>
                </div>
            </div>
            <div class="iniciarsesion">
                SI YA TENES CUENTA:
                <a href="{% url 'login' %}"> <button>INICIAR SESION</button> </a><br><br>
            </div>
        {% endif %}
        {% endblock %}
        

    </div>
    
    
</body>
</html>







