{% extends "basic.html" %}
{% load static %}


{% block header %}
<link href="{% static 'lavaderos/css/lavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

  
  
{% block contentmain %}
    <div class="contentlavadero">
        <div class="topcontentlavadero">
            <img class="avatar" src="" alt="">
            <div class="namelavadero">{{lavadero.nombre}}</div>
            <div class="estadolavadero">{{lavadero.get_estado_display}}</div>
        </div>
        <div class="cardslavadero">
            <div class="cardlavaderoperfil">
                <div class="leftcardlavaderoperfil">
                    {% if lavadero.imagen %}
                        <img class="imglav" src="{{ lavadero.imagen.url }}" alt="">
                    {% else %}
                        <img class="imglav" src="/media/images/default.jpg" alt="">
                    {% endif %}
                </div>
                <div class="rightcardlavaderoperfil">
                    <div class="titulocard">PERFIL</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Encargado</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.encargado}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Teléfono</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.telefono}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">WhatsApp</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.telefono_aux}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Dirección</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.direccion}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>                   
            </div>
            <div class="cardlavaderoprecio">
                <div class="titulocard">TARIFAS</div>
                {% for tarifa in tarifas %}
                <div class="input-group mb-3">
                    <span class="input-group-text rl">{{tarifa.tipo}}</span>
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" readonly value="{{tarifa.monto}}">
                </div>
                {% endfor %}
            </div>               
        </div>
        <div class="bottomcardlavadero">
            
        </div>
    </div>
{% endblock %}
