{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<link href="{% static 'lavaderos/css/lavadero.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
{% endblock %}

  
  
{% block contentmain %}
    <div class="contentlavadero">
        <div class="topcontentlavadero">
            <img class="avatar" src="" alt="">
            <div class="namelavadero">{{lavadero.nombre}}</div>
            <div class="estadolavadero">{{lavadero.get_estado_display}}</div>
        </div>
        <div class="cardslavadero">
            <div class="cardlavaderoperfil">
                <div class="leftcardlavaderoperfil">
                    {% if lavadero.imagen %}
                        <img class="imglav" src="{{ lavadero.imagen.url }}" alt="">
                    {% else %}
                        <img class="imglav" src="/media/images/default.jpg" alt="">
                    {% endif %}
                </div>
                <div class="rightcardlavaderoperfil">
                    <div class="titulocard">PERFIL</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Encargado</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.encargado}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Teléfono</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.telefono}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">WhatsApp</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.telefono_aux}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml" id="inputGroup-sizing-default">Dirección</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" readonly value="{{lavadero.direccion}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    {% if lavadero.estado == "D" and not esperando_solicitud %}
                    <div class="d-grid gap-2 col-4 mx-auto mt-4">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            ¡Solicite Lavado YA!
                        </button>
                    </div>
                    {% endif %}
                </div>                   
            </div>              
        </div>
        <div class="middlecard">
            <div class="cardlavaderoprecio">
                <div class="horario">
                    <div class="titulocard">HORARIOS</div>
                    <div class="input-group">
                    <span class="input-group-text rl">Lunes</span>
                    <input type="text" readonly aria-label="First name" value="{{lunes.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{lunes.hasta}}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text rl">Martes</span>
                    <input type="text" readonly aria-label="First name" value="{{martes.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{martes.hasta}}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text rl">Miércoles</span>
                    <input type="text" readonly aria-label="First name" value="{{miercoles.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{miercoles.hasta}}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text rl">Jueves</span>
                    <input type="text" readonly aria-label="First name" value="{{jueves.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{jueves.hasta}}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text rl ">Viernes</span>
                    <input type="text" readonly aria-label="First name" value="{{viernes.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{viernes.hasta}}" class="form-control">
                </div>
                    <div class="input-group">
                    <span class="input-group-text rl">Sábado</span>
                    <input type="text" readonly aria-label="First name" value="{{sabado.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{sabado.hasta}}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text rl">Domingo</span>
                    <input type="text" readonly aria-label="First name" value="{{domingo.desde}}" class="form-control">
                    <input type="text" readonly aria-label="Last name" value="{{domingo.hasta}}" class="form-control">
                </div>   

                </div>
            </div> 
            <div class="cardlavaderoprecio">
                <div class="titulocard">TARIFAS</div>
                <div class="tarifa">
                    <div class="d-grid gap-2 col-8 mx-auto tarifa_agrandar">
                        <div class="input-group mb-3"> 
                            <span class="input-group-text rl">Tarifa Moto</span>
                            <span class="input-group-text">$</span>
                            <input readonly value="{{tarifaMoto.monto}}" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto tarifa_agrandar">
                        <div class="input-group mb-3">
                            <span class="input-group-text rl">Tarifa Auto</span>
                            <span class="input-group-text">$</span>
                            <input readonly value="{{tarifaAuto.monto}}" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        </div>
    
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto tarifa_agrandar">
                        <div class="input-group mb-3">
                            <span class="input-group-text rl">Tarifa PickUps</span>
                            <span class="input-group-text">$</span>
                            <input readonly value="{{tarifaPickup.monto}}" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto tarifa_agrandar">
                        <div class="input-group mb-3">
                            <span class="input-group-text rl">Tarifa Camion</span>
                            <span class="input-group-text">$</span>
                            <input readonly value="{{tarifaCamion.monto}}" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        </div> 
                    </div>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            {% csrf_token %}
                            {{solicitar_lavado|crispy}}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Solicitar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="bottomcardlavadero">
            CONTACTO - REDES
        </div>
    </div>
{% endblock %}
