{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}   

{% block header %}
<link href="{% static 'lavaderos/css/milavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contentmain %}
<div class="milavadero">
    <div class="topmilavadero">
        <form method="POST">
            {% csrf_token %}
            {{ estado_form.management_form|crispy }}
            {% for f in estado_form %}
                {{f}}
                <p></p>
            {% endfor %}
            <div class="d-grid gap-2 col-6 mx-auto"><button class="btn btn-primary" type="submit" name="submitEstado">GUARDAR</button></div>
            
        </form>
    </div>
    <div class="middlemilavadero">
        <div class="formtarhor">
            <form method="POST">
                {% csrf_token %}
                {{ tarifa_form.management_form |crispy }}
                {% for f in tarifa_form %}
                    {{f}}
                    <p></p>
                {% endfor %}
                <div class="d-grid gap-2 col-2 mx-auto"><button class="btn btn-primary" type="submit" name="submitTarifa">GUARDAR</button></div>
                
            </form>
        </div>
        <div class="formtarhor">
            <form method="POST">
                {% csrf_token %}
                {{ horario_form.management_form |crispy }}
                {% for f in horario_form %}
                    {{f}}
                    <p></p>
                {% endfor %}
                <div class="d-grid gap-2 col-2 mx-auto"><button class="btn btn-primary" type="submit" name="submitHorario">GUARDAR</button></div>
                    
            </form>
        </div>  
    </div>
    <div class="solicitudeslavado">
        <div class="titulosolicitudlavado">
            Solicitudes de lavado
        </div>
        <div class="contenido-solicitudes-lavado">
            <div class="itemsolictudlavado">
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
               
                <div class="botonesrespondersolicitud">
                    <button class="btn btn-primary">
                        ACEPTAR
                    </button>
                    <button class="btn btn-danger">
                        RECHAZAR
                    </button>
                </div> 
              
            </div>
    
            <div class="itemsolictudlavado">
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
               
                <div class="botonesrespondersolicitud">
                    <button class="btn btn-primary">
                        ACEPTAR
                    </button>
                    <button class="btn btn-danger">
                        RECHAZAR
                    </button>
                </div> 
            </div>

            <div class="itemsolictudlavado">
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
               
                <div class="botonesrespondersolicitud">
                    <button class="btn btn-primary">
                        ACEPTAR
                    </button>
                    <button class="btn btn-danger">
                        RECHAZAR
                    </button>
                </div> 
            </div>
            <div class="itemsolictudlavado">
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
                </div>
               
                <div class="botonesrespondersolicitud">
                    <button class="btn btn-primary">
                        ACEPTAR
                    </button>
                    <button class="btn btn-danger">
                        RECHAZAR
                    </button>
                </div> 
            </div>


        </div>

        
    </div>

</div>
{% endblock %}