{% extends "basic.html" %}
{% load static %}

{% block contentmain %}

<form method="POST">
    {% csrf_token %}
    {{ tarifa_form.management_form }}
    {% for f in tarifa_form %}
        {{f}}
        <p></p>
    {% endfor %}
    <button type="submit" name="submitTarifa">GUARDAR</button>
</form>
<form method="POST">
    {% csrf_token %}
    {{ horario_form.management_form }}
    {% for f in horario_form %}
        {{f}}
        <p></p>
    {% endfor %}
    <button type="submit" name="submitHorario">GUARDAR</button>
</form>
{% endblock %}