{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<link href="{% static 'lavaderos/css/milavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contentmain %}
<div class="milavadero">
    <div class="topcontentlavadero">
        <img class="avatar" src="" alt="">
        <div class="namelavadero">Mi lavadero</div>
        <div class="estadolavadero"></div>
    </div>

    <form action="{% url 'cambiar-estado-lavadero' %}" method="POST">
        <div class="topmilavadero">
            {% csrf_token %}
            {% if estado == "Cerrado" %}
            <button type="submit" name="setCerrado" class="btn btn_estado btn-success">CERRADO</button>
            {% else %}
            <button type="submit" name="setCerrado" class="btn btn_estado btn-outline-primary">CERRADO</button>
            {% endif %}
            {% if estado == "Abierto" %}
            <button type="submit" name="setAbierto" class="btn btn_estado btn-success">ABIERTO</button>
            {% else %}
            <button type="submit" name="setAbierto" class="btn btn_estado btn-outline-primary">ABIERTO</button>
            {% endif %}
            {% if estado == "Disponible" %}
            <button type="submit" name="setDisponible" class="btn btn_estado btn-success">DISPONIBLE</button>
            {% else %}
            <button type="submit" name="setDisponible" class="btn btn_estado btn-outline-primary">DISPONIBLE</button>
            {% endif %}
        </div>
    </form>

    <div class="middlemilavadero">
        <div class="formtarhor">
            <form method="POST">
                {% csrf_token %}
                {{ tarifa_form.management_form |crispy }}
                {% for f in tarifa_form %}

                {{f}}
                <p></p>
                {% endfor %}
                <div class="d-grid gap-2 col-2 mx-auto"><button class="btn btn-outline-primary" type="submit"
                        name="submitTarifa">GUARDAR</button></div>

            </form>
        </div>
        <div class="formtarhor">
            <form method="POST">
                {% csrf_token %}
                {{ horario_form.management_form |crispy }}
                {% for f in horario_form %}
                <div class="hola">
                    aaaa
                    <span>{{f.tipo}}</span>
                    {{f}}
                    <p></p>

                </div>

                {% endfor %}
                <div class="d-grid gap-2 col-2 mx-auto"><button class="btn btn-outline-primary" type="submit"
                        name="submitHorario">GUARDAR</button></div>

            </form>
        </div>
    </div>


</div>
{% endblock %}