{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}   

{% block title %}Lavaderos Online{% endblock %}

{% block header %}
<link href="{% static 'lavaderos/css/registrolavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

  
  
{% block contentmain %}
<div class="contentlavadero">
    <div class="topcontentlavadero">
        <img class="avatar" src="" alt="">
        <div class="namelavadero">Registro Lavadero</div>
        <div class="estadolavadero"></div>
    </div>
    <div class="bienvenidamensaje">
        <div class="bienvenidoregistro">Bienvenido al registro de Lavadero-Online</div>
        <div class="bienvenidoregistro">A continuación rellene los campos solicitados</div>
    </div>
    <form method="POST">
    <div class="cardslavadero">
        <div class="cardlavaderoregistro">
            {% csrf_token %}
            {{register_lavadero|crispy}}
            <br>
            <input type="submit" value="REGISTRARSE">
        </div>            
    </div>
</div>
{% endblock %}