{% extends "basic.html" %}
{% load static %}


{% block header %}
<link href="{% static 'lavaderos/css/milavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

  
  
{% block contentmain %}
<div class="solicitudeslavado">
    <div class="titulosolicitudlavado">
        Solicitudes de lavado
    </div>
    <div class="contenido-solicitudes-lavado">
        <div class="itemsolictudlavado">
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
           
            <div class="botonesrespondersolicitud">
                <button class="btn btn-primary">
                    ACEPTAR
                </button>
                <button class="btn btn-danger">
                    RECHAZAR
                </button>
            </div> 
          
        </div>

        <div class="itemsolictudlavado">
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
           
            <div class="botonesrespondersolicitud">
                <button class="btn btn-primary">
                    ACEPTAR
                </button>
                <button class="btn btn-danger">
                    RECHAZAR
                </button>
            </div> 
        </div>

        <div class="itemsolictudlavado">
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
           
            <div class="botonesrespondersolicitud">
                <button class="btn btn-primary">
                    ACEPTAR
                </button>
                <button class="btn btn-danger">
                    RECHAZAR
                </button>
            </div> 
        </div>
        <div class="itemsolictudlavado">
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="Valor" aria-describedby="inputGroup-sizing-default">
            </div>
           
            <div class="botonesrespondersolicitud">
                <button class="btn btn-primary">
                    ACEPTAR
                </button>
                <button class="btn btn-danger">
                    RECHAZAR
                </button>
            </div> 
        </div>


    </div>

    
</div>

{% endblock %}