{% extends "basic.html" %}
{% load static %}


{% block header %}
<link href="{% static 'lavaderos/css/milavadero.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

  
  
{% block contentmain %}
<div class="solicitudeslavado">
    <div class="topcontentlavadero">
        <img class="avatar" src="" alt="">
        <div class="namelavadero">Mis Solicitudes</div>
        <div class="estadolavadero"></div>
    </div>
    <div class="contenido-solicitudes-lavado">
        {% if solicitudes %}
            {% for solicitud in solicitudes %}
                <div class="itemsolictudlavado">
                    <div class="input-group mb-3">
                        <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Cliente</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" value="{{solicitud.cliente.username}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Fecha</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" value="{{solicitud.fecha}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ml input-item-solicitud-lavado" id="inputGroup-sizing-default">Tipo Vehiculo</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" value="{{solicitud.get_tipo_display}}" aria-describedby="inputGroup-sizing-default">
                    </div>
                
                    <div class="botonesrespondersolicitud">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_solicitud" value="{{solicitud.id}}">
                            {% if lavadero.estado == 'D' %}
                            <input type="submit" value="Aceptar" class="btn btn-success" name="aceptar">
                            {% endif %}
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_solicitud" value="{{solicitud.id}}">
                            <input type="submit" value="Rechazar" class="btn btn-danger" name="rechazar">
                        </form>
                    </div>           
                </div>
            {% endfor %}
        {% else %}
            <div class="mensaje_no_solicitudes">
                <h3 class="text-center">NO HAY SOLICITUDES</h3>
            </div>          
        {% endif %}        
    </div>   
</div>

{% endblock %}