.milavadero{
    display: grid;
    max-width: 1300px;
    justify-content: center;
    gap: 25px;
    
}

.topmilavadero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(250, 250, 250);
    border: 0.5px solid rgb(235, 235, 235);
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.btn_estado{
    width: 120px;
}

.topcontentlavadero{
    padding: 10px;
    height: 65px;
    border-radius: 5px;
    background-color: #223E8C;
    color: aliceblue;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.middlemilavadero{
    display: flex;
    gap: 25px;
}

.formtarhor{
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    border: 0.5px solid rgb(235, 235, 235);
    gap: 25px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}



.titulosolicitudlavado{
    background-color: #223E8C;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.itemsolictudlavado{
    width: 310px;
    border: 0.5px solid rgb(202, 202, 202);
    border-radius: 5px;
    padding: 5px;
}

.botonesrespondersolicitud{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-item-solicitud-lavado{
    width: 130px;
}

.contenido-solicitudes-lavado{
    display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 320px);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 320px);
    background: white;
    margin-block: 20px;
    border-radius: 5px;
}

.mensaje_no_solicitudes{
    display: flex;
    justify-content: center;
}

@media (max-width: 1400px) {
    .middlemilavadero{
        display: grid;
    }
    
}

@media (max-width: 500px) {
    .topmilavadero{
        flex-direction: column;
    }
    
}